.tech {
    width: 50vw;
}

.hw15 {
    position: relative;
}

.developer {

}

.techHeader {
    width: 50vw;
}

.developerHeader {

}

.row {
    display: flex;
}

.rowHeader {
    display: flex;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./infinite-spinner.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
}

.contentDimmed {
    opacity: 0.3;
    pointer-events: none;
    transition: opacity 0.3s ease;
}